@media screen and (max-width: 1280px) {}

@media screen and (max-width: 744px) {
    .card {
        width: calc((100% / 2) - 1rem);
    }

    .search_banner a {
        font-size: 12px;
        padding: 5px;
    }

    input.search {
        width: 220px;
    }

    .bottom .left_grid {
        width: 65%;
    }

    aside {
        width: 35%;
    }

    .title,
    .artist {
        font-size: 12px;
    }

    .light_btn {
        padding: 12px;

        a {
            font-size: 14px;
        }
    }

    .dark_btn {
        padding: 12px;

        a {
            font-size: 14px;
        }
    }

    #media_info p {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .right_bar {
        display: none;
    }

    .bottom .left_grid {
        width: 100%;
    }

    .filter_banner {
        input {
            width: 95%;
            margin: 10px 10px 10px 15px;
        }

        i {
            position: absolute;
            left: 23px;
            top: 17px;
        }
    }

    input.search {
        display: none;
    }

    .top_left i {
        left: 462px;
        top: 16px;
    }

    .title,
    .artist {
        font-size: 10px;
    }

    .subtitle {
        font-size: 10px;
        color: var(--bc-secondary-lighter);
    }

    .logo_desktop {
        display: none;
    }

    .logo_mobile {
        display: block;
    }

    .top_left img {
        width: 80px;
        height: auto;
    }
}