* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--bc-secondary-light) var(--bc-primary-color);
}

.wrapper {
    height: 100vh;
    background-color: var(--bc-primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --bc-primary-color: #222222;
    --bc-lighter: white;
    --bc-secondary-color: #2b2b2b;
    --bc-secondary-light: #464646;
    --bc-secondary-lighter: #9d9d9d;
}

/*--HEADER--*/
.logo_mobile {
    display: none;
}

.top {
    height: 112px;
}

.top_left {
    display: flex;
    position: relative;

    i {
        color: var(--bc-secondary-lighter);
        position: absolute;
        left: 175px;
        top: 15px;
    }
}

.top_left img {
    margin-right: 15px;
    width: 140px;
    height: auto;
}

#wrap_right {
    display: flex;
}

.sign_log {
    padding: 12px;
    display: block;
}

.sign_log:hover {
    background-color: var(--bc-secondary-light);
    text-decoration: underline;
}

input.search {
    background-color: var(--bc-secondary-light);
    border-style: none;
    border-radius: 5px;
    width: 300px;
    padding: 0px 0px 0px 30px;
}

.search_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    a {
        color: var(--bc-lighter);
        text-decoration: none;
        padding-left: 1rem;
    }
}

.filter_banner {
    background-color: var(--bc-secondary-color);
    position: relative;

    input {
        background-color: var(--bc-secondary-light);
        border: 2px solid var(--bc-secondary-lighter);
        width: 300px;
        padding: 5px 5px 5px 30px;
        margin: 1rem;
        border-radius: 20px;
        color: var(--bc-secondary-lighter);
    }

    i {
        position: absolute;
        color: var(--bc-secondary-lighter);
        left: 21px;
        top: 22px;
    }
}

/*--MAIN--*/

.bottom {
    display: flex;
    height: calc(100% - 112px);
    color: var(--bc-lighter);
    margin-top: 11px;
    padding-left: 1rem;
}

.bottom .left_grid {
    width: 70%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.card {
    width: calc((100% / 4) - 1rem);
    position: relative;

    img {
        width: 100%;
        border: 1px solid var(--bc-secondary-light);
    }
}

.dis_appear{
    display: none;
}

.play_btn {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid var(--bc-secondary-color);
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--bc-secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bc-lighter);
    position: absolute;
    bottom: 67px;
    left: 9px;

    i {
        font-size: 14px;
    }
}

.card:hover {
    .dis_appear {
        display: block;
    }
}

.title,
.artist {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

aside {
    width: 30%;
    padding: 1rem;
    border-left: 1px solid var(--bc-secondary-light);

    img {
        width: 100%;
        margin-bottom: 35px;
    }
}

.subtitle {
    color: var(--bc-secondary-light);
    font-size: 12px;
}

.right_bar {

    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.info {
    width: 70%;
}

div.play_bar {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon_wrapper {
    height: 3rem;
    width: 3rem;
    border: 1px solid var(--bc-lighter);
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--bc-lighter);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bc-primary-color);
}

.light_btn {
    background-color: var(--bc-lighter);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 1rem;

    a {
        color: var(--bc-primary-color);
        text-decoration: none;

    }
}

.dark_btn {
    display: flex;
    border: 1px solid;
    justify-content: center;
    border-radius: 5px;
    padding: 1rem;

    i {
        color: var(--bc-lighter);
    }

    a {
        text-decoration: none;
        color: var(--bc-lighter);
    }
}

#btns {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    /*è brutto da vedere questo d-flex ma lo faccio per il gap*/
}

.artist_info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .subtitle {
        color: var(--bc-lighter);
    }
}

.cirle {
    width: 25%;

    img {
        border-radius: 50%;
        margin: 0;
    }
}