* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--bc-secondary-light) var(--bc-primary-color);
}

.wrapper {
    height: 100vh;
    background-color: var(--bc-primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --bc-primary-color: #222222;
    --bc-lighter: white;
    --bc-secondary-color: #2b2b2b;
    --bc-secondary-light: #464646;
    --bc-secondary-lighter: #9d9d9d;
}

/*--HEADER--*/

.top {
    height: 112px;
}

.top_left {
    display: flex;
}

.top_left img {
    margin-right: 15px;
    width: 140px;
    height: auto;
}

input.search {
    background-color: var(--bc-secondary-light);
    border-style: none;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
}

.search_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    a {
        color: var(--bc-lighter);
        text-decoration: none;
        padding-left: 1rem;
    }
}

.filter_banner {
    background-color: var(--bc-secondary-color);
    position: relative;

    input {
        background-color: var(--bc-secondary-light);
        border:2px solid var(--bc-secondary-lighter);
        width: 300px;
        padding: 5px 5px 5px 30px;
        margin: 1rem;
        border-radius: 20px;
        color: var(--bc-secondary-lighter);
    }

    i {
        position: absolute;
        color: var(--bc-secondary-lighter);
        left: 21px;
        top: 22px;
    }
}

/*--MAIN--*/

.bottom {
    display: flex;
    height: calc(100% - 112px);
    color: var(--bc-lighter);
    margin-top: 11px;
    padding-left: 1rem;
}

.bottom .left_grid {
    width: 70%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    width: calc((100% / 4) - 1rem);

    

    img {
        width: 100%;
        border: 1px solid var(--bc-secondary-light);
    }
}

.card .title,
.card .artist {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

aside {
    width: 30%;
    padding: 1rem;
    border-left: 1px solid var(--bc-secondary-light);

    img {
        width: 100%;
    }
}

.left_grid .genre {
    color: var(--bc-secondary-light);
}

.right_bar {

    display: flex;
    gap: 1rem;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    div {
        display: flex;
        gap: 1rem;
        align-items: center;

        .icon_wrapper {

            color: var(--bc-primary-color);

        }
    }
}

.icon_wrapper {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid var(--bc-lighter);
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--bc-lighter);
    display: flex;
    align-items: center;
    justify-content: center;
}

.light_btn {
    background-color: var(--bc-lighter);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 1rem;

    a {
        color: var(--bc-primary-color);
        text-decoration: none;

    }
}

.dark_btn {
    border: 1px solid;
    justify-content: center;
    border-radius: 5px;
    padding: 1rem;

    i {
        color: var(--bc-lighter);
    }

    a {
        text-decoration: none;
        color: var(--bc-lighter);
    }
}